  </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">© 2018 Matthieu TOUSSAINT</div>
      </div>
    </footer>
  <!-- Compiled and minified JavaScript of Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    // Initialize text input in list.twig
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    });
  </script>
</body>
</html>