{{ include('partials/header_logged.twig') }}
<div class="container form center-align">
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="{{ base_url() }}/assets/pictures/pokemons/front/1.png">
          <span class="card-title">Nom du pokemon</span>
        </div>
        <div class="card-content">
          <p>Bulbasaur</p>
          <p>Height: 7</p>
          <p>Weight: 69</p>
        </div>
        <div class="card-action">
          <label>
            <input type="checkbox" class="indeterminate-checkbox" {# checked #} />
            <span>Check if you love him</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
{{ include('partials/footer.twig') }}