{{ include('partials/header_logged.twig') }}
<div class="container form center-align">
  <div class="row">
    <div class="col s12"><h1>Welcome {{ user.first_name }}!</h1></div>
  </div>
  <div class="row">
    <h5>Your ❤️ pokemons:</h5>
  </div>
</div>
{{ include('partials/footer.twig') }}